@tailwind base;
@tailwind components;
@tailwind utilities;



.font-family-karla {
    font-family: karla;
}


::-webkit-scrollbar-thumb {
    background-color: #1e40af;
    border-radius: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

pre {
    border: 1px solid white;
    background-color: #1a282c;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

main {
    margin-top: 7rem;
}